<div class="container mt-3 p-4 border rounded shadow bg-white w-50">
  <h3 class="mb-4 text-center fw-bold">Students Data</h3>
  <hr/>
  <div class="">

  <div class="mb">
    <label for="dept" class="form-label fw-semibold">Departments: 
        <span class="text-danger">*</span>
    </label>
    <select
      id="dept"
      class="form-select w-50"
      [(ngModel)]="selectedDept"
      (change)="onDepartmentChange()"
      name="department"
      required
      #deptRef="ngModel"
      [ngClass]="{ 'is-invalid': deptRef.invalid && filterClicked }"
    >
      <option [ngValue]="null">Select Department</option>
      <option *ngFor="let dept of departments" [ngValue]="dept">
        {{ dept.DEPARTMENT_NAME }}
      </option>
    </select>
    <div *ngIf="deptRef.invalid && filterClicked" class="text-danger">Department is required</div>
  </div>
  <br />

  <div class="mb-">
    <label for="course" class="form-label fw-semibold">Course: 
        <span class="text-danger">*</span>
    </label>
    <select 
      id="course"
      class="form-select w-50"
      [(ngModel)]="selectedCourse"
      (change)="onCourseChange()"
      required
      #courseRef="ngModel"
      [ngClass]="{'is-invalid':courseRef.invalid && filterClicked}"
      >
      <option [ngValue]="null">Select Course</option>
      <option *ngFor="let course of courses" [ngValue]="course">
        {{ course.COURSE_NAME}}
      </option>
    </select>
    <div *ngIf="courseRef.invalid && filterClicked" class="text-danger">course is required</div>
  </div>
  </div>


  <br />

  <div class="">
    <button class="btn btn-primary" (click)="onFilterApply()">
      Apply Filter
    </button>
  </div>

  <!-- now show students data -->

  <div class="mt-4" *ngIf="filterClicked">
    <div *ngIf="student.length > 0">
      <table class="table table-scriped table-bordered">
        <thead class="thead-dark">
          <tr>
            <th>Sr. No.</th>
            <th>Name</th>
            <th>Email</th>
            <th>Marks</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let s of student; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ s.name }}</td>
            <td>{{ s.email }}</td>
            <td>{{ s.marks !== null ? s.marks : "N/A" }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- if there is no student enrolled in the course then -->

  <div *ngIf="filterClicked && selectedCourse && student.length === 0">
    <p class="text-danger">No students enrolled in this course!!</p>
  </div>

  <br />
</div>
