<div class="container d-flex flex-column pt-5">
  <div
    class="d-flex flex-column align-items-center flex-lg-row justify-content-lg-center gap-5 pt-5 position-"
  >
    <mat-card
      class="text-white col-12 col-sm-10 col-md-8 w-lg-25"
      *ngIf="totalStudents"
    >
      <mat-card-header>
        <mat-card-title> Total students </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>{{totalStudents}}</p>
      </mat-card-content>
    </mat-card>

    <mat-card
      class="text-white col-12 col-sm-10 col-md-8 w-lg-25"
      *ngIf="totalCourses"
    >
      <mat-card-header>
        <mat-card-title> Total Courses </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>{{totalCourses}}</p>
      </mat-card-content>
    </mat-card>

    <mat-card
      class="text-white col-12 col-sm-10 col-md-8 w-lg-25"
      *ngIf="activeEnrollments"
    >
      <mat-card-header>
        <mat-card-title> Active Enrollments </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>{{activeEnrollments}}</p>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="d-flex justify-content-center align-items-center mt-5">
    <canvas
      baseChart
      [data]="barChartData"
      [options]="barChartOptions"
      [type]="barChartType"
    >
    </canvas>
  </div>
</div>
