.loginPassword {
  position: absolute;
  width: 255px;
}

.passwordHideBtn {
  position: relative;
  left: 210px;
  border: none;
}

@media (max-width: 576px) {
  .login-form {
    /* width: 500px; */
  }
  .form-control,.login-btn,.register-btn{
    /* width: 50vw; */
  }
}

@media (min-width: 576px) {
  .login-form {
    /* width: 500px; */
  }
  .form-control,.login-btn,.register-btn{
    /* width: 40vw; */
  }
}

