:host {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #111;
}

.desktop-menu {
  display: flex;
}

/* Hide hamburger on desktop */
.mobile-menu-btn {
  display: none;
}

/* MOBILE VIEW */
@media (max-width: 768px) {
  .desktop-menu {
    display: none;
  }

  .mobile-menu-btn {
    display: block;
  }
}
