.home ,.contact,.key-features{
    height: 100vh;
}
.text{
    border: 1px solid black;
}

.text1{
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;


}