.home {
  height: 91vh;
}
.text {
  border: 1px solid black;
}

.text1 {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
}
.contact-img-div img {
  height: 300px;
}

.contact-main-div {
  height: 300px;
}

.separator {
  background-color: white;
  height: 1px;
}

@media (min-width: 992px) {
  .keyfeatures {
    height: 100vh;
    margin-top: 100px;
  }

  .contact-main-div {
    width: 60%;
  }

  .cards {
    width: 33.33%;
  }

  .img-contact {
    width: 100px;
  }

  .contact {
    height: 100vh;
  }
}
