<div class="d-flex justify-content-center mt-1">
  <div class="mt- mb-4 border rounded shadow w-75 d-flex flex-column">
    <h2 class="text-center pt-3 fw-bold">Student Registration Form</h2>
    <hr class="fw-bold" />
    <form [formGroup]="studentForm" (ngSubmit)="onSubmit()" class="p-4">
      <!-- first parent div -->
      <div class="d-flex mb-4 gap-5">
        <div class="d-flex flex-column gap-2 w-50 ms-5">
          <label for="name" class="form-label"
            >Name :
            <span class="text-danger">*</span>
          </label>
          <input
            type="search"
            formControlName="name"
            id="name"
            placeholder="Enter your Full Name"
            required
            class="ps-2 w-75 form-control"
          />
          <div
            *ngIf="f.name.touched && f.name.invalid"
            class="text-danger d-flex flex-column ps-2"
          >
            <span *ngIf="f.name.errors?.['required']">Name is required.</span>
            <span *ngIf="f.name.errors?.['minlength']"
              >Minimum 3 characters are required.</span
            >
            <span *ngIf="f.name.errors?.['pattern']"
              >Only letters are allowed.</span
            >
          </div>
        </div>
        <div class="d-flex flex-column gap-2 w-50 ms-5">
          <label for="email" class="form-label"
            >Email :
            <span class="text-danger">*</span>
          </label>
          <input
            type="email"
            id="email"
            formControlName="email"
            placeholder="Enter your email"
            class="ps-2 w-75 form-control"
          />
          <div
            *ngIf="f.email.touched && f.email.invalid"
            class="text-danger ps-2"
          >
            <span *ngIf="f.email.errors?.['required']">Email is required</span>
            <span *ngIf="f.email.errors?.['pattern']"
              >Invalid email format</span
            >
          </div>
        </div>
      </div>
      <div class="d-flex mb-4 gap-5">
        <div class="d-flex flex-column gap-2 w-50 ms-5">
          <label for="mobile" class="form-label"
            >Mobile :
            <span class="text-danger">*</span>
          </label>
          <input
            type="text"
            id="mobile"
            formControlName="mobile"
            (keypress)="allowOnlyRangeDigits($event)"
            placeholder="Enter your mobile number"
            class="ps-2 w-75 form-control"
            minlength="10"
            maxlength="10"
          />
          <div
            *ngIf="f.mobile.touched && f.mobile.invalid"
            class="text-danger ps-2"
          >
            <span *ngIf="f.mobile.errors?.['required']"
              >Mobile no. is required</span
            >
            <span *ngIf="f.mobile.errors?.['pattern']"
              >First digit should be greater or equal to 6</span
            >
          </div>
        </div>

        <div class="d-flex flex-column gap-2 w-50 ms-5">
          <label for="dept" class="form-label"
            >Departments:
            <span class="text-danger">*</span>
          </label>
          <select
            id="dept"
            class="form-select w-75"
            name="depta"
            formControlName="department"
          >
            <option [ngValue]="null">Select Department</option>
            <option
              *ngFor="let dept of departments"
              [ngValue]="dept.DEPARTMENT_ID"
            >
              {{ dept.DEPARTMENT_NAME }}
            </option>
          </select>
          <div
            *ngIf="f.department.touched && f.department.invalid"
            class="text-danger"
          >
            Department is required
          </div>
        </div>
      </div>
      <div class="d-flex mb-4 gap-5">
        <div class="d-flex flex-column gap-2 w-50 ms-5">
          <label for="gender" class="form-label"
            >Gender :
            <span class="text-danger">*</span>
          </label>
          <select
            name=""
            id="gender"
            class="ps-2 w-75 form-select"
            formControlName="gender"
          >
            <option value="null">Select Gender</option>
            <option>Male</option>
            <option>Female</option>
            <option>Transgender</option>
          </select>
          <div
            *ngIf="f.gender.touched && f.gender.invalid"
            class="text-danger ps-2 fs-6"
          >
            Gender is required
          </div>
        </div>
        <div class="d-flex flex-column gap-2 w-50 ms-5">
          <label for="dob" class="form-label"
            >Date of birth :
            <span class="text-danger">*</span>
          </label>
          <input
            type="date"
            id="dob"
            formControlName="dob"
            placeholder="Enter you DOB"
            class="ps-2 w-75 form-control"
            [min]="minDate"
            [max]="maxDate"
          />
          <div
            *ngIf="f.dob.touched && f.dob.invalid"
            class="text-danger d-flex flex-column ps-2"
          >
            <span *ngIf="f.dob.errors?.['required']"
              >Date of birth is requird</span
            >
            <span *ngIf="f.dob.errors?.['ageInvalid']"
              >Your are not following the age criteria</span
            >
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
    <!-- <table
      class="table table-scripted table-bordered"
      *ngIf="submittedStudents.length>0"
    >
      <thead class="thead-dark">
        <tr>
          <th class="text-center">Sr No</th>
          <th>Name</th>
          <th>Email</th>
          <th class="text-center">Mobile No</th>
          <th>Department_id</th>
          <th>Gender</th>
          <th>DOB</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of submittedStudents; let i=index">
          <td class="text-center">{{i+1}}</td>
          <td>{{student.name}}</td>
          <td>{{student.email}}</td>
          <td class="text-center">{{student.mobile}}</td>
          <td>{{student.department}}</td>
          <td>{{student.gender}}</td>
          <td>{{student.dob}}</td>
        </tr>
      </tbody>
    </table> -->

    <div
      class="modal fade"
      id="successModal"
      tabindex="-1"
      aria-labelledby="successModalLabel"
      aria-hidden="true"
      #successModal
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-center" id="successModalLabel">
              Success
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">Student registered successfully!</div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-success"
              data-bs-dismiss="modal"
            >
              OK
            </button>
          </div>
        </div>
      </div>
    </div>

    <div
    class="modal fade"
    id="alreadyRegisteredModal"
    tabindex="-1"
    aria-labelledby="alreadyRegisteredModalLabel"
    aria-hidden="true"
    #alreadyRegisteredModal
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header bg-warning text-dark">
          <h5 class="modal-title" id="alreadyRegisteredModalLabel">
            Register Alert
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">Student already registered.</div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Okay
          </button>
        </div>
      </div>
    </div>
  </div>
  </div>

  <!-- <app-student></app-student> -->
  <!-- <router-outlet></router-outlet> -->
</div>
