<div class="pt-5">
  <div class="pt-5 pt-lg-2 d-flex justify-content-center">
    <div
      class="container col-11 col-sm-7 col-md-6 col-lg-6 border rounded shadow d-flex flex-column"
    >
      <h2 class="text-center pt-3 fw-bold" *ngIf="!studentId">
        Student Registration Form
      </h2>
      <h2 class="text-center pt-3 fw-bold" *ngIf="studentId">Update Student</h2>

      <hr class="fw-bold" />
      <form [formGroup]="studentForm" (ngSubmit)="onSubmit()" class="p-4">
        <!-- first parent div -->
        <div
          class="d-flex flex-column flex-lg-row justify-content-lg-between mb-4 gap-4"
        >
          <div class="d-flex flex-column gap-2 col-lg-5">
            <label for="name" class="form-label"
              >Name :
              <span class="text-danger">*</span>
            </label>
            <input
              type="search"
              formControlName="name"
              id="name"
              placeholder="Enter your Full Name"
              required
              class="ps-2 form-control"
            />
            <div
              *ngIf="f.name.touched && f.name.invalid"
              class="text-danger d-flex flex-column ps-2"
            >
              <span *ngIf="f.name.errors?.['required']">Name is required.</span>
              <span *ngIf="f.name.errors?.['minlength']"
                >Minimum 3 characters are required.</span
              >
              <span *ngIf="f.name.errors?.['pattern']"
                >Only letters are allowed.</span
              >
            </div>
          </div>
          <div class="d-flex flex-column gap-2 col-lg-5">
            <label for="email" class="form-label"
              >Email :
              <span class="text-danger">*</span>
            </label>
            <input
              type="email"
              id="email"
              formControlName="email"
              placeholder="Enter your email"
              class="ps-2 form-control"
            />
            <div
              *ngIf="f.email.touched && f.email.invalid"
              class="text-danger ps-2"
            >
              <span *ngIf="f.email.errors?.['required']"
                >Email is required</span
              >
              <span *ngIf="f.email.errors?.['pattern']"
                >Invalid email format</span
              >
            </div>
          </div>
        </div>
        <div
          class="d-flex flex-column flex-lg-row justify-content-lg-between mb-4 gap-4"
        >
          <div class="d-flex flex-column gap-2 col-lg-5">
            <label for="mobile" class="form-label"
              >Mobile :
              <span class="text-danger">*</span>
            </label>
            <input
              type="text"
              id="mobile"
              formControlName="mobile"
              (keypress)="allowOnlyRangeDigits($event)"
              placeholder="Enter your mobile number"
              class="ps-2 form-control"
              minlength="10"
              maxlength="10"
            />
            <div
              *ngIf="f.mobile.touched && f.mobile.invalid"
              class="text-danger ps-2"
            >
              <span *ngIf="f.mobile.errors?.['required']"
                >Mobile no. is required</span
              >
              <span *ngIf="f.mobile.errors?.['pattern']"
                >First digit should be greater or equal to 6</span
              >
            </div>
          </div>

          <div class="d-flex flex-column gap-2 col-lg-5">
            <label for="dept" class="form-label"
              >Departments:
              <span class="text-danger">*</span>
            </label>
            <select
              id="dept"
              class="form-select"
              name="depta"
              formControlName="department"
            >
              <option [ngValue]="null">Select Department</option>
              <option
                *ngFor="let dept of departments"
                [ngValue]="dept.DEPARTMENT_ID"
              >
                {{ dept.DEPARTMENT_NAME }}
              </option>
            </select>
            <div
              *ngIf="f.department.touched && f.department.invalid"
              class="text-danger"
            >
              Department is required
            </div>
          </div>
        </div>
        <div
          class="d-flex flex-column flex-lg-row justify-content-lg-between mb-4 gap-4"
        >
          <div class="d-flex flex-column gap-2 col-lg-5">
            <label for="gender" class="form-label"
              >Gender :
              <span class="text-danger">*</span>
            </label>
            <select
              name=""
              id="gender"
              class="ps-2 form-select"
              formControlName="gender"
            >
              <option value="null">Select Gender</option>
              <option>Male</option>
              <option>Female</option>
              <option>Transgender</option>
            </select>
            <div
              *ngIf="f.gender.touched && f.gender.invalid"
              class="text-danger ps-2 fs-6"
            >
              Gender is required
            </div>
          </div>
          <div class="d-flex flex-column gap-2 col-lg-5">
            <label for="dob" class="form-label"
              >Date of birth :
              <span class="text-danger">*</span>
            </label>
            <input
              type="date"
              id="dob"
              formControlName="dob"
              placeholder="Enter you DOB"
              class="ps-2 form-control"
              [min]="minDate"
              [max]="maxDate"
            />
            <div
              *ngIf="f.dob.touched && f.dob.invalid"
              class="text-danger d-flex flex-column ps-2"
            >
              <span *ngIf="f.dob.errors?.['required']"
                >Date of birth is requird</span
              >
              <span *ngIf="f.dob.errors?.['ageInvalid']"
                >Your are not following the age criteria</span
              >
            </div>
          </div>
        </div>
        <div class="text-center" *ngIf="!studentId">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>

        <div class="d-flex justify-content-center" *ngIf="studentId">
          <button type="submit" class="btn btn-primary">Update</button>
        </div>
      </form>

      <div
        class="modal fade"
        id="successModal"
        tabindex="-1"
        aria-labelledby="successModalLabel"
        aria-hidden="true"
        #successModal
      >
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title text-center" id="successModalLabel">
                Success
              </h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">Student registered successfully!</div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-success"
                data-bs-dismiss="modal"
              >
                OK
              </button>
            </div>
          </div>
        </div>
      </div>

      <div
        class="modal fade"
        id="updateStudentModal"
        tabindex="-1"
        aria-labelledby="updateStudentModalLabel"
        aria-hidden="true"
        #updateStudentModal
      >
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title text-center" id="updateStudentModalLabel">
                Success
              </h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">Student updated successfully!</div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-success"
                data-bs-dismiss="modal"
              >
                OK
              </button>
            </div>
          </div>
        </div>
      </div>

      <div
        class="modal fade"
        id="alreadyRegisteredModal"
        tabindex="-1"
        aria-labelledby="alreadyRegisteredModalLabel"
        aria-hidden="true"
        #alreadyRegisteredModal
      >
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header bg-warning text-dark">
              <h5 class="modal-title" id="alreadyRegisteredModalLabel">
                Register Alert
              </h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">Student already registered.</div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Okay
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
